<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">INFOTEC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contactos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid-lg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Simple Page Blog</h1>
        <div class="texto">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nisi, natus a modi obcaecati tempora libero cumque laborum, officiis asperiores expedita! Eligendi nam officia ratione, quis quae fugiat porro magni!
            Maiores laudantium ipsum obcaecati error fuga in itaque adipisci cumque, impedit doloremque dignissimos dolor voluptate numquam est delectus aliquam corporis. Nam ullam eum aliquid accusantium modi sequi voluptatum asperiores itaque!
            Sapiente est neque dicta, id blanditiis aliquid dolore cumque deserunt unde, ipsa temporibus! Distinctio culpa nostrum odit voluptatum. Consectetur magni nam laudantium omnis eveniet deleniti nobis quidem voluptatum? Cumque, deleniti?
            Nemo tenetur dicta, illum architecto consectetur nesciunt dolore eum nihil explicabo at suscipit minus atque obcaecati temporibus eaque aut numquam id? Ab nostrum, molestias fugit doloremque exercitationem pariatur eaque ipsam!
            Blanditiis cum amet iusto laudantium laborum, ab eos quasi rem voluptatum facilis perferendis fugiat. Corrupti, provident, magni earum, voluptatum eveniet id officia obcaecati vitae facere culpa quam ullam eaque unde.
            In expedita quasi amet nihil quo veniam, cum sequi nobis velit voluptas similique. Recusandae laborum unde quod. Odio blanditiis quam laudantium rerum esse? Nesciunt beatae animi amet, quis perspiciatis iste.
            Culpa non cumque, excepturi vel laudantium illum eligendi adipisci? Vero delectus illo officiis id tempora sint aspernatur similique fuga aliquam ipsum repellat nemo placeat illum, ex deserunt repudiandae vel reiciendis?
            Eius velit deserunt quod in non! Assumenda nobis molestiae cum repellat! Sapiente repudiandae quas ex accusantium quasi neque perspiciatis? Et distinctio praesentium quis accusamus ratione? Laborum error vero voluptates reiciendis?
          </p>
        </div>
      </div>
      <div class="col">
        <img src="../assets/Images/Viajar.png" class="img-fluid" alt="Viajar">
      </div>
    </div>
    <div class="row">
      <div class="col registrarse">
        <!-- Button trigger modal -->
        <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Registrarse</button>

        <!-- Modal -->
  
        <ng-template #mymodal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Formulario</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">Cerrar</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" id="survey-form">
              <fieldset>
                <label for="name" id="name-label">Enter your name : <input type="text" name="name" id="name" required placeholder="Luis..."></label>
                <label for="email" id="email-label">Enter your email : <input type="email" name="email" id="email" required placeholder="my_mail@gmail.com"></label>
                <label for="number" id="number-label">Enter a number : <input type="number" id="number" name="number" min="0" max="15" placeholder="55667788"></label>
              </fieldset>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Enviar</button>
          </div>
        </ng-template>
      </div>
    </div>
</div>
